@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');
/* ----------------------
Configurações da Página 
------------------------*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans',sans-serif;
}
:root {
  /* Paleta de Cores */
  --black: #212322;
  --primary: #E10600;
  --white: #fff;
  /* Tamanhos de Fontes */
  --titleSize: clamp(3em,2.5vw,3.5em);
  --textSize: clamp(16px,2vw,18.5px);
}
/* Adaptando altura */
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.content-website{
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* -----Fim Configurações--------*/
/* ---
Hero 
-----*/
.hero{
    background: rgb(33,35,34);
    background: -moz-linear-gradient(28deg, rgba(33,35,34,1) 42%, rgba(64,69,66,1) 100%);
    background: -webkit-linear-gradient(28deg, rgba(33,35,34,1) 42%, rgba(64,69,66,1) 100%);
    background: linear-gradient(28deg, rgba(33,35,34,1) 42%, rgba(64,69,66,1) 100%);
    width: 100%;
    color: var(--white);
    display: flex;
    flex-direction: column;
}
/* Container Hero */
.container-hero{
    padding-top: 1em;
    display: flex;
    justify-content: flex-start;    
    height: 100%;
}
/* IMG Hero */
.container-hero-svg img{width: 45vw;}
.container-hero-svg{
    display: flex;
    align-items: flex-end;
}
/* Artigo Hero */
.container-hero-article{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
}
.container-hero-article h1{
    font-size: var(--titleSize);
    font-weight: 800;
}
.container-hero-article p{
    font-size: var(--textSize);
    letter-spacing: 0.25px;
    line-height: 30px;
    text-align: center;
    margin: 1em 0;
    white-space: pre-line;
}
/*------- Fim Hero ------ */
/* -----
Itens 
------*/
.content-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
}
.container-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10em;
    padding: 6em 0;
}
.article-item h1{
    font-size: var(--titleSize);
    /* font-size: 3em; */
    font-weight: 800;
    white-space: pre-line;
}
.article-item p{
    font-size: var(--textSize);
    letter-spacing: 0.25px;
    line-height: 30px;
    margin: 1em 0;
    white-space: pre-line;
}
/*------
Rodapé
-------*/
.footer{
    background: var(--black);
    padding: 0 2em;
}
/* Conteúdo Rodapé */
.content-footer{
    display: flex;
    align-items: center;
    gap: 5em;
}
/* Sobre nós Rodapé */
.about-footer figure img{
    width: 12em;
}
.about-footer p {
    font-size: 14px;
    white-space: pre-line;
    color: var(--white);
}
/* Links Rodapé */
.container-footer-links{
    list-style: none;
}
.footer-title,.footer-title a{ 
    margin: 0.5em 0;
    text-decoration: none;
    color: var(--primary);
    font-size: 17px;
    font-weight: 700;
}
.footer-link, .footer-link a{
    margin: 0.25em 0;
    font-size: 16px;
    text-decoration: none;
    color: var(--white);
}
/* Copyright */
.copyright{padding: 1em 0;}
.copyright p{
    color: #797979;
}
/*------------
Responsividade
------------*/
/* 1280px */
@media screen and (max-width: 1280px){
    /* Itens */
    .container-item{grid-gap: 2.5em;}
    .container-hero-article h1{text-align: center;}
    
}
/* 980px */
@media screen and (max-width: 980px){
    /* Hero */
    .container-hero {
        padding-top: 1em;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .container-hero-svg img {width: 95%;}
    /* Itens */
    .content-itens{padding: 3em 2em;}
    .container-item{display: block;padding: 0;grid-gap:0;}
    .article-item h1,.article-item p{white-space: unset;}  
    .article-item p{margin: 0.25em 0 1em 0;}
    .reverse {display: flex;flex-direction: column-reverse;}
    /* Rodapé */
    .content-footer{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: unset;
        width: 100%;
    }
    .container-footer-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* 690px */
@media screen and (max-width: 690px){
    /* Itens */
    .article-item h1{font-size: 2em;}
    .container-hero-article {padding: 0 2em;}
    .container-hero-article p{white-space: unset; font-size: 16px;}
}